#!/bin/bash

# {{ template "scripts-library" }}

readonly wanted_packages=(
  ca-certificates
  gnupg
#  lsb-release
#  build-essential
  curl
  zsh
  wget
  tree
  parallel
  file
  procps
  zip
  git
  jq
  docker
  docker-compose
#  docker-ce
#  docker-ce-cli
#  containerd.io
#  docker-compose-plugin
#  docker-buildx-plugin
#  docker-scan-plugin
  skopeo
  asciinema
  # {{ if .is_gnome }}
  yaru-theme
  yaru-icon-theme
  yaru-sound-theme
  gnome-tweaks
  gnome-menus
#  code
  google-chrome-stable
  firefox
  python3-nautilus
  # {{   if not .is_wsl }}
  gnome-shell-theme-yaru
#  libsecret-1-0
  gnome-menus
  # {{   end }}
  # {{ end }}
)
missing_packages=()

for package in "${wanted_packages[@]}"; do
  if ! is_apt_package_installed "${package}"; then
    missing_packages+=("${package}")
  fi
done

if [[ ${#missing_packages[@]} -gt 0 ]]; then
  log_task "Installing missing packages with APT: ${missing_packages[*]}"

  c dnf update -y
  c dnf install -y "${missing_packages[@]}"
fi
