#!/bin/bash

# {{ template "scripts-library" }}

zsh_path="/bin/zsh"

if ! getent passwd '{{ .chezmoi.username }}' | cut -d : -f 7- | grep -q "^${zsh_path}$"; then
  log_task "Configuring ZSH as default shell"

  c sudo usermod --shell "${zsh_path}" '{{ .chezmoi.username }}'
fi

log_task "Installing zplug"
curl -sL --proto-redir -all,https https://raw.githubusercontent.com/zplug/installer/master/installer.zsh | zsh

